body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Inika';
}

header {
    background: #EDF2EC;
}

main {
}

footer {
}

.container {
    width: 1220px;
    margin: 0 auto;
}


/* HEADER */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 0;
}

.header-logo {
    
}

.header-navigation {
    display: flex;
    list-style: none;
}

.header-navigation-list {
    margin-right: 46px;
}

.header-navigation-list a {
    text-decoration: none;
    color: #010201;
    transition: 0.2s color linear;
}

.header-navigation-list a:hover {
    font-weight: 700;
    color: #E06733;
}


/* MAIN */

main {
    background: #EDF2EC;
}

.section-title {
    line-height: 50px;
    font-family: 'Inter';
    font-style: normal;

}

.section-title span {
    color: #499A18;
}

.section-description {
    line-height: 35px;
    font-size: 20px;
    color: #636060;
}

    /* WELCOME SECTION */



    .welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 62px 0;
    }

    .welcome-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 550px;
        color: #717171;
    }
    
    .welcome-info .section-title {
        font-size: 45px;
    }

    .welcome-button {
        padding: 14px 27px;
        font-size: 16px;
        text-transform: uppercase;
        border: 2px solid #E06733;
        background: #EDF2EC;
        border-radius: 10px;
        transition: color 0.2s linear;
    }

    .welcome-button:hover{
        background-color: #E06733;
        color: white;
    }


    /* ABOUT US SECTION */


    .about-us {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 94px 0px;
    }
    
    .about-us .section-title {
        font-size: 40px;
        font-weight: 400;
        color: #E06733;
    }

    .about-us-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 605px;
    }


    /* SERVICE */

    .service {
        padding: 40px 0 120px;
    }

    .service-selection {
        display: flex;
        align-items: center;
    }

    .service-selection .section-title{
        margin-right: 142px;
        font-weight: 400;
        font-size: 40px;
        color:#499A18;
    }

    .service-buttons {
        
    }

    .service-button {
        padding: 12px 40px;
        margin-right: 38px;
        font-size: 20px;
        border: 1px solid #E06733;
        border-radius: 5px;
        background: none;
        color: #E06733;
    }

    .services-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 90px;
        
    }

    .service-item {
        margin-bottom: 55px;
        height: 450px;
        width: 330px;
        text-align: center;
        border: 1px solid #E3E1D5;
        border-radius: 20px;
        transition: 0.2s linear;

    }

    .service-title {
        font-size: 20px;
        font-weight: 700;
        color: #E06733;
    }
    
    .service-description {
        color:#717171;
    }

    .service-item:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    






/* FOOTER */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.author {
    display: flex;
}

.author p {
    margin-right: 20px;
    font-size: 20px;
}

.footer-github-link {
    text-decoration: none;
    color: black;
}

.rsschool a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.footer-navigation {
    display: inline-block;
    list-style: none;
    letter-spacing: 30px;
}

.footer-navigation-list {
    
}










