
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Inter';
}

header {
    background: #EDF2EC;
}

.section-change-color {
    background: white;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}


/* HEADER */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    margin: 0;
}

.header-navigation {
    display: flex;
    list-style: none;
    gap: 46px;
}

.header-navigation-list a {
    font-family: 'Inika';
    text-decoration: none;
    color: #010201;
    transition: 0.2s all linear;
}

.header-navigation-list a:hover {
    font-weight: 700;
    color: #E06733;
}

.header-burger-button {
    display: none;
    position: relative;
    top: -5px;
    width: 40px;
    height: 24px;
    border: none;
}

.header-burger-button span {
    position: absolute;
    width: 40px;
    height: 2px;
    left: 0;
    background-color: #717171;
    transition: transform 0.3s, opacity 0.3s, background-color .1s;
}

.header-burger-button span:active {
    background-color: #E06733;
}

.header-burger-button span:nth-child(1) {
    bottom: 24px;
}

.header-burger-button span:nth-child(2) {
    bottom: 16px;
}

.header-burger-button span:nth-child(3) {
    bottom: 8px;
}

.header-burger-button span:nth-child(4) {
    bottom: 0px;
}

.body.open .header-burger-button span:nth-child(1) {
    transform: translateY(12px) rotate(225deg);
}
.body.open .header-burger-button span:nth-child(2) {
    transform: translateY(30px);
    opacity: 0;
}
.body.open .header-burger-button span:nth-child(3) {
    opacity: 0;
    transform: translateY(-30px)
}
.body.open .header-burger-button span:nth-child(4) {
    transform: translateY(-12px) rotate(-225deg);
}

.body.open .header-burger-button span {
    background-color: #E06733;
}


/* MAIN */

main {
    background: #EDF2EC;
}

.section-title {
    line-height: 50px;
    font-family: 'Inter';
    font-style: normal;
}

.section-title span {
    color: #499A18;
}

.section-description {
    line-height: 35px;
    font-size: 20px;
    color: #636060;
}

    /* WELCOME SECTION */



    .welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 62px 0;
    }

    .welcome-picture {
        height: 407.36px;
        width: 448.8px;
        background-image: url(assets/leafs.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .welcome-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 550px;
        color: #717171;
    }
    
    .welcome-info .section-title {
        margin: 0;
        padding: 0;
        font-size: 45px;
    }

    .welcome .section-description {
        margin: 45px 0;
    }

    .welcome-button {
        padding: 14px 27px;
        font-size: 16px;
        text-transform: uppercase;
        background: #EDF2EC;
        border: 2px solid #E06733;
        border-radius: 10px;
        transition: all 0.2s linear;
    }

    .welcome-button:hover{
        background-color: #E06733;
        color: white;
        cursor: pointer;
    }


    /* ABOUT US SECTION */


    .about-us {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 94px 0px;
    }
    
    .about-us .section-title {
        font-family: 'Inika';
        font-size: 40px;
        font-weight: 400;
        color: #E06733;
    }

    .about-us-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 605px;
    }

    .about-us .section-description {
        margin-top: 40px;
        line-height: 30px;
    }

    .about-us-picture {
        width: 464px;
        height: 479px;
        background-image: url(assets/houseplant.png);
        background-size: contain;
        background-repeat: no-repeat;
    }


    /* SERVICE */

    .service {
        padding: 40px 0 130px;
    }

    .service-selection {
        display: flex;
        align-items: center;
    }

    .service-selection .section-title{
        margin: 0 152px 0 0;
        line-height: 52.12px;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 40px;
        color:#499A18;
    }

    .service-button {
        padding: 12px 40px;
        margin-right: 38px;
        min-width: 160px;
        text-align: center;
        font-size: 20px;
        font-family: 'Inika';
        border: 1px solid #E06733;
        border-radius: 5px;
        background: none;
        color: #E06733;
        transition: 0.2s all linear;
    }

    .service-button:hover {
        background-color: #E06733;
        color: white;
        cursor: pointer;
    }

    .services-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 85px;
        margin-top: -55px;
        
    }

    .service-item {
        margin-top: 55px;
        min-height: 450px;
        max-width: 330px;
        text-align: center;
        border: 1px solid #E3E1D5;
        border-radius: 20px;
        transition: all 0.2s linear;
    }


    .service-picture-tablet {
        display: none;
    }

    .service-title {
        margin: 10px 0;
        padding: 0;
        line-height: 20px;
        font-size: 20px;
        font-weight: 700;
        color: #E06733;
    }

    .service-description {
        margin: 0;
        padding: 0;
        word-break: break-all; 
        color:#717171;
    }

    .service-item:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .service-item.gardens.blur {
        filter: blur(3px);
    }
    .service-item.lawn.blur {
        filter: blur(3px);
    }

    .service-item.planting.blur {
        filter: blur(3px);
    }


    .service-button.active {
        color: white;
        background-color: #E06733;
    }


    /* Prices */

    .prices {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 115px;
    }

    .prices-menu {
        display: flex;
        flex-direction: column;
    }

    .prices .section-title {
        margin: 0;
        font-size: 40px;
    }

    .prices-selection {
        margin-top: 60px;
        padding: 34px 41px 9px;
        list-style: none;
        background: white;;
        border: 1px solid #E3E1D5;
        border-radius: 20px;
    }

    .prices-selection-item {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 16px 40px;
        width: 250px;
        margin-bottom: 32px;
        font-size: 20px;
        background: #EDF2EC;
        border-radius: 20px;
        transition: all 0.2s linear;
        user-select: none;
    }


    .prices-selection-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        /* padding: 16px 40px; */
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 700;
    }

    .prices-selection-item.show .panel {
        display: block;
    }

    .prices-selection-item.show img{
        transform: rotate(180deg);
    }

    .prices-selection-item.show  {
        background-color: #D6E7D2;
    }



    .panel {
        display:none;
        margin: 6px 0 0;
        border-top: 0.2px solid #AEA1A1;
    }

    .panel-description {
        margin: 6px 0;
        line-height: 10px;
        color: #717171;
        font-size: 10px;
    }

    .panel-price {
        margin: 8px 0;
        font-size: 12px;
    }

    .panel-price span {
        font-size: 15.5px;
        font-weight: 700;
        color: #E06733;
    }

    .panel-price .bucks {
        font-size: 12px;
    }

    .panel-button {
        padding: 6px 23px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        background-color: #FFFFFF;
        border-radius: 10px;
        color: #717171;
    }


    .prices-selection-list:last-child {
        margin: 0;
    }

    .prices-selection-item:hover {
        background-color: #D6E7D2;
        cursor: pointer;
    }

    .prices-call-us {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    .prices-call-us img {
        position: relative;
        right: -10px;
        float: right;
    }

    .call-us-button {
        box-sizing: border-box;
        min-height: 50px;
        margin: 40px 0;
        padding: 12px 32px;
        font-family: 'Inika';
        font-size: 20px;
        font-weight: 700;
        color: #E06733;
        background: white;
        border: 1px solid #E06733;
        border-radius: 5px;
        transition: all 0.2s linear;
    }

    .call-us-button:hover{
        background: #E06733;
        color: white;
        cursor: pointer;
    }

    
    /* CONTACTS */

    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 55px 0 0;
    }

    .contacts .section-title {
        align-self: flex-start;
        position: absolute;
        left: calc(+50% - 250px);
        width: 500px;
        margin: 5px 0 0;    
        text-align: center;
        font-family: 'Inika';
        font-size: 40px;
        color: #499A18;
    }

    .contact-woman {
        background-image: url(assets/contact_woman.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
        height: 497px;
    }


    .contacts-window-selection {
        position: relative;
        top: 95px;
        display: flex;
        flex-direction: column;
        gap: 47px;
    }

    .contacts-selection {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 450px;
        height: 50px;
        letter-spacing: 1px;
        color: #717171;
        font-size: 20px;
        font-family: 'Inter';
        background: #D6E7D2;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        user-select: none;

    }

    .contacts-selection-header {
        display: flex;
        justify-content: space-between;
        padding: 15px 35px 15px 20px;
        cursor: pointer;
    }

    .contacts-arrow {
        padding: 3px 0 0;

    }

    .contacts-selection-body {
        display: none;
        box-sizing: border-box;
        position: absolute;
        top: 50px;
        padding: 34px 48px 15px 20px ;
        width: 100%;
        font-size: 15.5px;
        color: #499A18;
        background: #DCE9D9;
    }

    .contacts-selection-item {
        padding: 5px 6px;
        margin-bottom: 17px;
        border-bottom: 1px solid #D9D9D9;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    .contacts-selection-item:hover {
        color: #717171;
        border-bottom: 1px solid #717171;
    }


    .contacts-selection.drop-menu {
        background-color: #C1E698;
    }

    .contacts-selection.drop-menu .contacts-arrow{
        transform: rotate(180deg)
    }

    .contacts-selection.drop-menu .contacts-selection-body{
        display: block;
    }

    .contacts-city-card {
        display: none;
        flex-direction: column;
        box-sizing: border-box;
        padding: 25px 33px;
        width: 448px;
        height: 214px;
        float: left;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 20px;
        letter-spacing: 1px;;
    }

    .contacts-data {
        display: flex;
    }

    .contacts-data-name {
        display: flex;
        flex-direction: column;
        margin-right: 12px;
    }

    .contacts-data-name span {
        margin-bottom:  20px;
    }

    .contacts-data-name {
        margin-bottom:  9px;
    }

    .contacts-data-value {
        display: flex;
        flex-direction: column;
        color: #717171;
    }

    .contacts-data-value span {
        margin-bottom: 20px;
    }

    .contacts-city-card-button-container {
        display: flex;
        justify-content: center;
    }


    .contacts-city-card-button {
        text-align: center;
        padding: 6px 45px;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Inika';
        background: #EDF2EC;
        border: 1px solid #E06733;
        border-radius: 5px;
        cursor: pointer;
    }

    .contacts-city-card-button:hover {
        background: #E06733;
        color: white;
    }

    .contacts-city-card.open {
        display: block;
    }

    .contacts-city-card-button {
        text-decoration: none;
        color: #717171;
    }


/* FOOTER */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.author {
    display: flex;
}

.author ul {
    display: flex;
}

.author li {
    margin-right: 20px;
    font-size: 20px;
    list-style: none;
}

.author li:last-child {
    margin: 0;
}

.footer-github-link {
    text-decoration: none;
    color: black;
}

.rolling-scopes {
    position: absolute;
    /* Только так получилось выровнять,
    Если есть идеи, как это можно сделать более правильно,
    подскажите пожалуйста */
    left: calc(50% - 250px);
    width: 500px;
    text-align: center;
}

.rsschool a {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.footer-navigation {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style: none;
    letter-spacing: 15px;
}




/* ---------------------------------- @@@ MEDIA -----------------------------------------  */ 

@media (max-width: 768px) {
    
    /* GENERAL */


    .container {
        max-width: 668px;
    }

    /* HEADER */

    .header-wrapper {
        padding: 47px 0;
    }

    .header-logo {
        position: relative;
        top: -3px;
    }

    .header-burger-button {
        display: none;
    }

    /* MAIN */


    .section-description {
        font-size: 16px;
        line-height: 25px;
    }

    /* WELCOME SECTION */

    .welcome {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px 0px 70px;
    }

    .welcome-picture {
        height: 254.15px;
        width: 280px;
    }

    .welcome-info {
        max-width: 340px;
    }

    .welcome .section-title {
        font-size: 35px;
    }

    .welcome .section-description {
        margin: 30px 0px;
    }

    /* ABOUT US SECTION */

    .about-us {
        flex-direction: column;
        align-items: space-between;
        text-align: center;
        padding: 40px 0 95px;
    }

    .about-us .section-title {
        font-size: 35px;
        line-height: 45px;
        padding-bottom: 11px; 
    }

    .about-us .section-description {
        font-size: 20px;
        text-align: left;
        margin-bottom: 40px;
    }

    .about-us-info {
        width: fit-content;
    }

    .about-us-picture {
        width: 250px;
        height: 258px;
        margin-top: 30px;
        padding-top: 40px;
        
    }

    /* SERVICE */

    .service {
        padding: 60px 0 70px;
    }

    .service-selection {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;

    }

    .service-selection .section-title {
        max-width: 306px;
        line-height: 45.61px;
        font-size: 35px;
        float: inline-start;
        padding-bottom: 3px;
    }

    .service-button {
        padding: 12px 40px;
        font-size: 20px;
    }

    .services-list {
        padding-top: 40px;
        margin-top: -38px;
    }

    .service-item {
        margin: 38px 0 0;
        max-width: 281px;
    }

    .service-picture {
        display: none;
    }

    .service-picture-tablet {
        display: block;
    }

    .service-description {
        padding: 0 40px;
    }


    /* PRICES */ 

    .prices {
        padding: 40px 0 75px;
    }

    .prices .section-title {
        padding: 0px 14px;
        font-size: 35px;
    }

    .prices-selection {
        margin-top: 50px;
    }

    .prices-call-us {
        padding-top: 100px;
    }

    .prices-call-us .section-title {
        margin: 0;
        padding: 0;
        font-size: 25px;
        line-height: 35px;
    }

    .call-us-button {
        margin: 30px 0;
    }


    /* CONTACTS */

    .contacts {
        flex-direction: column;
        align-items: center;
        padding: 40px 0 0;
        text-align: center;
        
    }

    .contacts .section-title {
        align-self: center;
        position: static;
        width: fit-content;
        text-align: center;

    }


    .contact-woman {
        order: 3;
        margin: 350px 0 0 19px;
        height: 248.5px;
        width: 200px;
        text-align: center;
    }


    .contacts-city-card.open {
        margin-top: -15px;
    }

    .contacts-window-selection {
        order: 2;
    }




    /* FOOTER */

    .footer-wrapper {
        flex-direction: column;
        padding: 30px 0;
        justify-content: center;
        align-items: space-between ;
        gap: 16px;
    }

    .rolling-scopes {
        position: static;
        margin-bottom: 10px;
    }

}


/* -----------------------------------MEDIA 380 px---------------------------------*/


@media (max-width: 380px) {

    /* GENERAL */


    .container {
        max-width: 330px;

    }

    /* HEADER */

    .header-logo {
        position: relative;
        z-index: 5;
    }

    .header-wrapper {
        padding: 36px 0 30px;
    }

    .header-navigation {
        z-index: 1;
        display: block;
        position: absolute;
        padding: 40px 0 0;
        width: 100%;
        height: 100vh;
        left: 0;
        top: -100vh;
        font-size: 25px;
        text-align: center;
        background-color: #EDF2EC;
        transition: transform .3s;
    }

    .header-navigation-list {
        padding: 20px 0;
    }

    .header-navigation-list a {
        display: block;
        width: 100%;
    }

    .body.open .header-navigation {
        transform: translateY(100%);
    }

    .body.open {
        overflow: hidden;
    }

    .header-burger-button {
        z-index: 2;
        display: block;
    }


    /* MAIN */


    /* WELCOME */

    .welcome {
        padding: 24px 0;
    }

    .welcome .section-title {
        line-height: 35px;
        font-size: 25px;
        margin: 2px 0;
    }

    .welcome .section-description {
        margin: 20.08px 0;
    }

    .welcome-button {
        padding: 9px 16px;
        margin-top: 3px;
        font-size: 10px;
        font-family: 'Inter';
        text-align: center;
    }

    .welcome-picture {
        display: none;
    }
    

    /* ABOUT US */

    .about-us {
        padding: 30px 0 31px;
    }

    .about-us .section-title {
        padding: 0;
        font-size: 25px;
        line-height: 32.57px;
    }

    .about-us .section-description {
        width: 100%;
        margin: 16px 0 0;
        font-size: 15px;
        line-height: 25px;
    }

    .about-us-picture {
        position: relative;
        left: 5px;
        margin: 0;
        padding: 0;
        max-width: 158px;
        max-height: 155px;
        text-align: center;
    }


    /* SERVICE */

    .service {
        padding: 30px 0 27px;
    }

    .service-selection {
        gap: 35px;
    }

    .service-selection .section-title {
        margin: 0;
        font-size: 25px;
        line-height: 32.57px;
    }

    .service-button {
        padding: 7px 28px;
        margin: 0 6px 9px 0;
        min-width: 121px;
        font-size: 15px;
        line-height: 19.54px;
    }

    .services-list {
        justify-content: center;
        margin-top: -44px;
    }

    .service-item {
        margin: 33px 0 0;
    }

    
    /* PRICES */ 

    .prices {
        flex-direction: column;
        align-items: center;
        padding: 25px 0 40px;
        text-align: center;
        gap: 16px;
    }

    .prices-menu {
        gap: 36px;
    }

    .prices-selection {
        margin: 0;
        padding: 29px 22px;
    }

    .prices-selection-item {
        max-width: 180px;
        margin-bottom: 13.92px;
        padding: 15.91px 30px;
        font-size: 15px;
    }
    
    .prices-selection-item.last {
        margin-bottom: 0;
    }

    .prices-selection-list img {
        margin-right: 10px;
    }

    .prices .section-title {
        font-size: 25px;
        line-height: 30.26px;
    }

    .prices-call-us {
        align-items: center;
        padding: 0;
        text-align: center;
        gap: 20px;
    }
    
    .prices-call-us .section-title {
        font-size: 20px;
        line-height: 35px;
    }

    .call-us-button {
        min-height: auto;
        margin: 0;
        padding: 7px 24px;
        font-size: 15px;
        line-height: 19.54px;
    }

    .prices-call-us img {
        display: none;
    }

    
    /* CONTACTS */

    .contacts {
        margin: 0;
        padding: 25px 0 0;
    }

    .contacts .section-title {
        margin: 0;
        font-size: 25px;
        line-height: 32.57px;
    }

    .contacts-selection {
        max-width: 300px;
        margin: 82px 0 132px;
    }

    .contacts-arrow {
        margin: 0;
        padding: 0;
    }

    .contact-woman {
        max-width: 100px;
        max-height: 124.25px;
        margin: 0;
    }


    /* FOOTER */

    .footer-wrapper {
        padding: 21px 0 13px;
        gap: 14.5px;
    }

    .rolling-scopes {
        max-width: 100%;
        margin: 0;
    }

}









