
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Inter';
}

header {
    background: #EDF2EC;
}

.section-change-color {
    background: white;
}

.container {
    width: 1220px;
    margin: 0 auto;
}


/* HEADER */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    margin: 0;
}

.header-navigation {
    display: flex;
    list-style: none;
}

.header-navigation-list {
    margin-right: 46px;
}

.header-navigation-list:last-child {
    margin-right: 0;
}


.header-navigation-list a {
    font-family: 'Inika';
    text-decoration: none;
    color: #010201;
    transition: 0.1s all linear;
}

.header-navigation-list a:hover {
    font-weight: 700;
    color: #E06733;
}


/* MAIN */

main {
    background: #EDF2EC;
}

.section-title {
    line-height: 50px;
    font-family: 'Inter';
    font-style: normal;
}

.section-title span {
    color: #499A18;
}

.section-description {
    line-height: 35px;
    font-size: 20px;
    color: #636060;
}

    /* WELCOME SECTION */



    .welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 62px 0;
    }

    .welcome-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 550px;
        color: #717171;
    }
    
    .welcome-info .section-title {
        margin: 0;
        padding: 0;
        font-size: 45px;
    }

    .welcome .section-description {
        margin: 45px 0;
    }

    .welcome-button {
        padding: 14px 27px;
        font-size: 16px;
        text-transform: uppercase;
        background: #EDF2EC;
        border: 2px solid #E06733;
        border-radius: 10px;
        transition: all 0.1s linear;
    }

    .welcome-button:hover{
        background-color: #E06733;
        color: white;
        cursor: pointer;
    }


    /* ABOUT US SECTION */


    .about-us {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 94px 0px;
    }
    
    .about-us .section-title {
        font-family: 'Inika';
        font-size: 40px;
        font-weight: 400;
        color: #E06733;
    }

    .about-us-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 605px;
    }

    .about-us .section-description {
        margin-top: 40px;
        line-height: 30px;
    }


    /* SERVICE */

    .service {
        padding: 40px 0 130px;
    }

    .service-selection {
        display: flex;
        align-items: center;
    }

    .service-selection .section-title{
        margin: 0 152px 0 0;
        line-height: 52.12px;
        font-family: 'Inika';
        font-weight: 400;
        font-size: 40px;
        color:#499A18;
    }

    .service-button {
        padding: 12px 40px;
        margin-right: 38px;
        min-width: 160px;
        text-align: center;
        font-size: 20px;
        border: 1px solid #E06733;
        border-radius: 5px;
        background: none;
        color: #E06733;
        transition: 0.1s all linear;
    }

    .service-button:hover {
        background-color: #E06733;
        color: white;
        cursor: pointer;
    }

    .services-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 85px;
        margin-top: -55px;
        
    }

    .service-item {
        margin-top: 55px;
        min-height: 450px;
        max-width: 330px;
        text-align: center;
        border: 1px solid #E3E1D5;
        border-radius: 20px;
        transition: 0.1s linear;
    }

    .service-title {
        margin: 10px 0;
        padding: 0;
        line-height: 20px;
        font-size: 20px;
        font-weight: 700;
        color: #E06733;
    }

    .service-description {
        margin: 0;
        padding: 0;
        word-break: break-all; 
        color:#717171;
    }

    .service-item:hover {
        transform: scale(1.05);
        cursor: pointer;
    }


    /* Prices */

    .prices {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 115px;
    }

    .prices-menu {
        display: flex;
        flex-direction: column;
    }

    .prices .section-title {
        margin: 0;
        font-size: 40px;
    }

    .prices-selection {
        margin-top: 60px;
        padding: 34px 41px;
        list-style: none;
        background: white;;
        border: 1px solid #E3E1D5;
        border-radius: 20px;
    }

    .prices-selection-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        min-width: 250px;
        max-height: 50px;
        margin-bottom: 32px;
        padding: 16px 40px;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 700;
        background: #EDF2EC;
        border-radius: 20px;
        transition: all 0.1s linear;
    }

    .prices-selection-list:last-child {
        margin: 0;
    }

    .prices-selection-list:hover {
        background-color: #E06733;
        color:white;
        cursor: pointer;
    }

    .prices-call-us {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    .prices-call-us img {
        position: relative;
        right: -10px;
        float: right;
    }

    .call-us-button {
        box-sizing: border-box;
        min-height: 50px;
        margin: 40px 0;
        padding: 12px 32px;
        font-family: 'Inika';
        font-size: 20px;
        font-weight: 700;
        color: #E06733;
        background: white;
        border: 1px solid #E06733;
        border-radius: 5px;
        transition: all 0.1s linear;
    }

    .call-us-button:hover{
        background: #E06733;
        color: white;
        cursor: pointer;
    }

    
    /* CONTACTS */

    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 55px 0 0;
    }

    .contacts .section-title {
        align-self: flex-start;
        position: absolute;
        left: calc(+50% - 250px);
        width: 500px;
        margin: 5px 0 0;    
        text-align: center;
        font-family: 'Inika';
        font-size: 40px;
        color: #499A18;
    }

    .contact-woman {
        max-width: fit-content;
        max-height: fit-content;
    }

    .contacts-selection {
        position: relative;
        top: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        box-sizing: border-box;
        height: 50px;
        width: 450px;
        color: #717171;
        background: #D6E7D2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px;
        cursor: pointer;

    }

    .contacts-selection-option {
        display: inline;
        font-size: 20px;
    }

    .contacts-arrow {
        position: relative; /* Не получилось сделать ровно без позиционирования */
        top: 3px;
        padding-right: 15px;
    }



/* FOOTER */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.author {
    display: flex;
}

.author ul {
    display: flex;
}

.author li {
    margin-right: 20px;
    font-size: 20px;
    list-style: none;
}

.author li:last-child {
    margin: 0;
}

.footer-github-link {
    text-decoration: none;
    color: black;
}

.rolling-scopes {
    position: absolute;
    /* Только так получилось выровнять,
    Если есть идеи, как это можно сделать более правильно,
    подскажите пожалуйста */
    left: calc(50% - 250px);
    width: 500px;
    text-align: center;
}

.rsschool a {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.footer-navigation {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style: none;
    letter-spacing: 15px;
}









